.payment {
    font-size: 16px;
    margin-bottom: 20px;
    align-items: center;
    span {
        font-weight: 600;
        margin-right: 3px
    }
}

.details {
    line-height: 28px;
    margin-left: 20px;
    
}