button {
    padding: 7px 12px;
    background-color: cadetblue;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    &:disabled {
        background-color: lightgray;
        border-color: lightgray;
        &:hover {
            cursor: not-allowed;
        }
    }
}