<div>
    <app-title text="PAYMENTS"></app-title>
        <ng-container *ngTemplateOutlet="content"></ng-container>
    <app-button [action]="continueToDetails" [disabled]="selectedPayments.length === 0 ? true : null" text="CONTINUE"></app-button>
</div>

<ng-template #content>
    <app-list
        [dynamicTemplateRef]="innerContent"
        [items]="payments"
        [displayedItems]="displayedPayments"
        [isLoading]="isLoading"
        [error]="error"
        [noMatchFound]="noMatchFound">
      <ng-container *ngTemplateOutlet="innerContent"></ng-container>
    </app-list>
</ng-template>

<ng-template #innerContent>
    <app-payments-list [items]="displayedPayments" [action]="selectPayments"></app-payments-list>
</ng-template>