<div (scroll)="handleScrollEvent()" #paymentsContainer class="payments-container">
    <h1>PAYMENTS</h1>
    <!-- <app-searchbar placeholder="search payment" action=""></app-searchbar> -->
    <div *ngIf="payments.length">
        <div *ngFor="let payment of displayedPayments" class="payment-item">
            {{ payment.status }}
        </div>
    </div>
    <p *ngIf="!payments.length && !isLoading">THERE ARE NO PAYMENTS</p>
    <p *ngIf="error">ERROR LOADING DATA</p>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>