<div class="users-container">
    <app-content
        [title]="'COUNTRIES'"
        [selectedItems]="selectedCountries"
        [queryParams]="queryParams"
        [searchAction]="searchCountries"
        [continue]="continueToDetails">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </app-content>
</div>

<ng-template #content>
    <app-list
        [dynamicTemplateRef]="innerContent" [items]="countries"
        [items]="countries"
        [displayedItems]="displayedCountries"
        [isLoading]="isLoading"
        [error]="error"
        [noMatchFound]="noMatchFound"
        [onScroll]="onScroll">
      <ng-container *ngTemplateOutlet="innerContent"></ng-container>
    </app-list>
</ng-template>

<ng-template #innerContent>
    <app-countries-list [items]="displayedCountries" [action]="selectCountries"></app-countries-list>
</ng-template>