<div (scroll)="onScroll()" #usersContainer class="users-container">
    <app-content
        [title]="'USERS'"
        [searchAction]="searchUsers"
        [checkAction]="selectUsers"
        [continue]="continueToDetails">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </app-content>
</div>

<ng-template #content>
    <app-list
        [dynamicTemplateRef]="innerContent" [items]="users"
        [title]="'USERS'"
        [items]="users"
        [displayedItems]="displayedUsers"
        [displayedKeys]="displayedKeys"
        [isLoading]="isLoading"
        [error]="error"
        [noMatchFound]="noMatchFound">
      <ng-container *ngTemplateOutlet="innerContent"></ng-container>
    </app-list>
</ng-template>

<ng-template #innerContent>
    <app-list-item [items]="displayedUsers" [action]="selectUsers"></app-list-item>
</ng-template>