<div class="users-container">
    <app-content
        [title]="'USERS'"
        [selectedItems]="selectedUsers"
        [queryParams]="queryParams"
        [searchAction]="searchUsers"
        [continue]="continueToDetails">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </app-content>
</div>

<ng-template #content>
    <app-list
        [dynamicTemplateRef]="innerContent" [items]="users"
        [items]="users"
        [displayedItems]="displayedUsers"
        [isLoading]="isLoading"
        [error]="error"
        [noMatchFound]="noMatchFound"
        [onScroll]="onScroll">
      <ng-container *ngTemplateOutlet="innerContent"></ng-container>
    </app-list>
</ng-template>

<ng-template #innerContent>
    <app-users-list [items]="displayedUsers" [action]="selectUsers"></app-users-list>
</ng-template>