.list-item {
    display: flex;
}

.details-wrapper {
    display: flex;
    margin: 10px 0 10px 15px;
    width: 250px;
    justify-content: space-between;
    .country {
        display: flex;
        font-size: 16px;
        .flag {
            width: 20px;
            height: 18px;
            margin-right: 5px;
        }
        .name {
            font-size: 16px;
        }
        .code {
            color: gray;
            display: flex;
            align-items: center;
            .bullet {
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background-color: gray;
                margin: 0 5px;
            }
        }
    }
    .value {
        color: steelblue;
        font-weight: 600;
    }
}